body {
    background-color: #0E1015;
    color: #fff;
}
.footer {
    background-color: #0C0E13;
    color: #fff;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #1E212D;
    color: #fff;
}
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.pagination a {
    padding: 6px 10px;
    border: 1px solid #007BFF;
    color: #007BFF;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
}
.pagination a:hover {
    background-color: #007BFF;
    color: white;
}

.form-container {
    background-color: #1E212D;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-width: 250px;
    max-width: 600px;
}
label {
    display: block;
    margin-bottom: 5px;
}
.custom-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #1E212D;
    color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    appearance: none;
}
.save-button {
    padding: 8px 10px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
}
.save-button:hover {
    background-color: #0056b3;
}
.success-message {
    margin: 10px 0;
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    display: block;
}
.upload-area {
    border: 2px dashed #fff;
    padding: 20px;
    cursor: pointer;
    text-align: center;
}
.favicon-preview {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.favicon-preview img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}